<nav>
  <div class="nav">
    <div class="logo-container">
      <a href="/">
        <img src="/img/craigslist.png" class="logo" alt="logo" />
      </a>
    </div>
    <div class="nav-buttons">
      <form action="/myAccount" method="GET">
        <button class="account_button" type="submit">
          <div class="wrap">
            <img src="/img/profile.png" class="account" />
            <div class="text">My Account</div>
          </div>
        </button>
      </form>
      <form action="postad">
        <input type="submit" value="Post an Ad" class="post_add" />
      </form>
    </div>
  </div>
</nav>

<main>
  <div class="preview-container">
    <div class="preview-section1">
      <div class="product-image">
        <h1 id="preview_title">
          <%= posts.title %>
        </h1>
        <h4 class="location-title">
          <img src="/img/marker_1.png" class="" />
          <%= posts.location_id %>
        </h4>
        <div class="row">
          <div class="column">
            <img
              src="<%= posts.picture %>"
              style="width: 100%;"
              class="column-add-preview"
            />
            <p class="price">Price: <span id="price"></span></p>
          </div>
        </div>
      </div>
      <div class="product-details">
        <h1 class="post-ad-name">Description</h1>
        <p id="preview-description"><%= posts.description %></p>
      </div>

      <div id="user_info">
        <h1 class="post-ad-name">Seller Information</h1>
        <h6>Name: <%= user.name %> <%= user.lastname %></h6>
        <h6>Email: <%= user.email %></h6>
      </div>
    </div>

    <div class="preview-section2">
      <div class="product-description">
        <button class="favourite_button" type="submit">
          <div class="wrap">
            <img src="/img/heart.png" height="20px" class="favourite_icon" />
            <div class="text">Favourite</div>
          </div>
        </button>
        <h1 class="post-ad-name">Details</h1>
        <p>Condition: <%= posts.condition %></p>
        <p>Method of Payment: <%= posts.method_of_payment %></p>
        <p>Method of Communication: <%= posts.method_of_communication %></p>
        <p>Negotiable: <%= posts.negotiable %></p>
      </div>
    </div>
  </div>
  <a href="/selectionPage">
    <div class="see-more-text-container">
      <button type="button" class="see-more-text">View more</button>
    </div>
  </a>
</main>

<footer class="centered">
  <div class="myTable">
    <div class="craigslist-container">
      <h4 class="footer-head">Craigslist</h4>
      <br />
      <a href="aboutus" class="text-my-own-color">About Us</a><br />
      <br />
      <a href="" class="text-my-own-color">Careers</a><br />
      <br />
      <a href="aboutus" class="text-my-own-color">Contact Us</a><br />
      <br />
      <a href="" class="text-my-own-color">Forum</a><br />
    </div>
    <div class="info-container">
      <h4 class="footer-head">Info</h4>
      <br />
      <a href="termsandcondition" class="text-my-own-color"
        >Terms & Conditions</a
      ><br />
      <br />
      <a href="termsandcondition" class="text-my-own-color">Privacy Policy</a
      ><br />
      <br />
      <a href="events" class="text-my-own-color">Events</a><br />
    </div>
    <div class="support-container">
      <h4 class="footer-head">Support</h4>
      <br />
      <a href="" class="text-my-own-color">Frauds</a><br />
      <br />
      <a href="" class="text-my-own-color">Tips</a><br />
      <br />
      <a href="" class="text-my-own-color">Q&A</a><br />
      <br />
      <a href="" class="text-my-own-color">Setting</a><br />
    </div>
  </div>
</footer>
